.scrollContainer {
  background-color: var(--am-color-bg-paper);
  color: var(--am-color-text-primary);
  border: 1px solid var(--am-color-divider);
}

.scrollContainer:focus-within {
  outline: none;
}

.textarea:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
